{% extends layout %}

{% block content %}
	<div id="chat-live"></div>

	<form onsubmit="return submitChat(this);">
		<input type="text" id="chat" name="chat" />
		<input type="submit" value="Send chat" />
	</form>
{% endblock %}

{% block script %}
	<script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io.connect('http://');

		socket.on('message', function (data) {
			document.getElementById('chat-live').innerHTML = '<p><b>' + data.title + '</b>: ' + data.contents + '</p>';
		});

		var submitChat = function (form) {

			socket.emit('chat', { text: form.chat.value });
			form.chat.value = "";

			return false;
		}
	</script>
{% endblock %}