extends layout

block content
    #certificate

block script
    script(src='/bower_components/jquery/jquery.min.js')
    script(src='/bower_components/underscore/underscore-min.js')
    script(src='/bower_components/backbone/backbone-min.js')

    script
        var CertificateView = Backbone.View.extend({
                initialize: function () {
                    this.render();
                },
                render: function () {
                    $(this.el).html("<h1>Guy Incognito</h1><p>DOB: Match 2, 1967</p>")
                }
            });

        var certificate_view = new CertificateView({ el: $("#certificate") });