extends layout

block content
    #certificate teste

    script#tpl-certificate(type='text/template')
        <h1><%= name %></h1>
        <p>DOB: <%= dob %></p>

block script
    script(src='/bower_components/jquery/jquery.min.js')
    script(src='/bower_components/underscore/underscore-min.js')
    script(src='/bower_components/backbone/backbone-min.js')

    script
        var CertificateView = Backbone.View.extend({
                template: _.template($('#tpl-certificate').html()),
                initialize: function () {
                    this.render();
                },
                render: function () {
                    var templateArgs = {
                        name: 'Guy Incognito',
                        dob : 'March 2, 1967'
                    };

                    $(this.el).html(this.template(templateArgs));
                }
            });

        var certificate_view = new CertificateView({ el: $("#certificate") });